In [1]:
import numpy as np 
import pandas as pd 

DATA = '~/Data/Molecular'

outputs = ["submission-fnands-mpnn.csv",
          "submission-harshit92-fork-from-kernel-1-481.csv",
          "submission-marcelotamashiro-lgb-public-kernels-plus-more-features.csv",
          "submission-svzip-19191379.csv",
          "submission-toshik-schnet-starter-kit.csv",
          "submission-xwxw2929-keras-neural-net-and-distance-features.csv"]

In [2]:
subs = []
for i, fileName in enumerate(outputs):
    subs.append(pd.read_csv(f"{DATA}/{outputs[i]}", index_col="id").add_suffix(f"_{i}"))

/home/ike/.miniconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
subs.append(pd.read_csv("submission_08_29_01.csv", index_col="id"))

In [4]:
sub = pd.concat(subs, axis=1)

In [12]:
sub.head()

,scalar_coupling_constant_0,scalar_coupling_constant_1,scalar_coupling_constant_2,scalar_coupling_constant_3,scalar_coupling_constant_4,scalar_coupling_constant_5,scalar_coupling_constant
id,,,,,,,
4658147,19.242008,22.414471,16.333971,23.635113,55.943756,16.752722,9.770131
4658148,186.417656,142.809891,197.289728,150.373672,185.007780,129.551773,164.768369
4658149,14.021063,9.560091,6.159606,9.439700,1.717238,5.626666,9.071588
4658150,186.417664,142.809891,196.833797,150.373672,185.007780,129.551773,164.768369
4658151,19.242008,22.414471,17.863188,23.635113,55.943756,16.752722,9.770131

In [5]:
sub.median(axis=1).rename("scalar_coupling_constant").to_frame().to_csv("submission_08_28_02.csv")